In [44]:
from database_connect import mongo_operation as mongo

client_uri = "mongodb+srv://Abhyudaya:Abhyudaya@cluster0.lkjxcm4.mongodb.net/?retryWrites=true&w=majority"
database_name = "DEV"


def upload_files_to_mongodb(
    mongo_client_con_string,
    database_name,
    datasets_dir_name):
  
  for file in os.listdir(datasets_dir_name):
    if file.endswith('.csv'):
      file_name = file.split('.')[0]

      mongo_connection = mongo(
          client_url = mongo_client_con_string,
          database_name= database_name,
          collection_name= file_name
      )

      file_path = os.path.join(datasets_dir_name, file_name)
      mongo_connection.bulk_insert(file)
      print(f"{file_name} is uploaded to mongodb")


upload_files_to_mongodb(
    mongo_client_con_string= client_url,
    database_name = database_name,
    datasets_dir_name= "notebook/wafer.csv"
)

FileNotFoundError: [Errno 2] No such file or directory: 'notebook/wafer.csv'

In [13]:
from pymongo.mongo_client import MongoClient


import pandas as pd
import json

In [36]:
uri = "mongodb+srv://abhy:abhy@cluster0.nvfhgmm.mongodb.net/?retryWrites=true&w=majority"

In [37]:
client = MongoClient(uri)

In [28]:
client

MongoClient(host=['ac-vg9s3ro-shard-00-00.cwmqbnt.mongodb.net:27017', 'ac-vg9s3ro-shard-00-01.cwmqbnt.mongodb.net:27017', 'ac-vg9s3ro-shard-00-02.cwmqbnt.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-bgd17o-shard-0', tls=True)

In [38]:
database_name="DEV"
connection_name="waferfault"

In [30]:
df=pd.read_csv(r"/config/workspace/notebook/wafer.csv")

In [39]:
df.drop("Unnamed: 0",axis=1)

,Sensor-1,Sensor-2,Sensor-3,Sensor-4,Sensor-5,Sensor-6,Sensor-7,Sensor-8,Sensor-9,Sensor-10,...,Sensor-582,Sensor-583,Sensor-584,Sensor-585,Sensor-586,Sensor-587,Sensor-588,Sensor-589,Sensor-590,Good/Bad
0,2968.33,2476.58,2216.7333,1748.0885,1.1127,100.0,97.5822,0.1242,1.5300,-0.0279,...,NaN,0.5004,0.0120,0.0033,2.4069,0.0545,0.0184,0.0055,33.7876,-1
1,2961.04,2506.43,2170.0666,1364.5157,1.5447,100.0,96.7700,0.1230,1.3953,0.0084,...,NaN,0.4994,0.0115,0.0031,2.3020,0.0545,0.0184,0.0055,33.7876,1
2,3072.03,2500.68,2205.7445,1363.1048,1.0518,100.0,101.8644,0.1220,1.3896,0.0138,...,NaN,0.4987,0.0118,0.0036,2.3719,0.0545,0.0184,0.0055,33.7876,-1
3,3021.83,2419.83,2205.7445,1363.1048,1.0518,100.0,101.8644,0.1220,1.4108,-0.0046,...,NaN,0.4934,0.0123,0.0040,2.4923,0.0545,0.0184,0.0055,33.7876,-1
4,3006.95,2435.34,2189.8111,1084.6502,1.1993,100.0,104.8856,0.1234,1.5094,-0.0046,...,NaN,0.4987,0.0145,0.0041,2.8991,0.0545,0.0184,0.0055,33.7876,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3013.66,2526.44,2185.2111,1141.6306,0.8447,100.0,100.5978,0.1217,1.5337,0.0090,...,NaN,0.5013,0.0076,0.0021,1.5152,0.0153,0.0048,0.0017,31.0176,-1
96,2982.87,2477.01,2315.2667,2360.1325,1.1259,100.0,90.1144,0.1160,1.4695,0.0071,...,NaN,0.5003,0.0106,0.0028,2.1263,0.0153,0.0048,0.0017,31.0176,1
97,3084.82,2387.42,2171.5000,1028.4440,0.7899,100.0,101.5122,0.1224,1.3603,-0.0031,...,NaN,0.5016,0.0130,0.0028,2.5865,0.0153,0.0048,0.0017,31.0176,-1
98,2955.87,2541.89,NaN,NaN,NaN,NaN,NaN,NaN,1.4493,-0.0194,...,NaN,0.5023,0.0140,0.0033,2.7810,0.0153,0.0048,0.0017,31.0176,-1
99,2914.86,2465.11,2210.2778,2120.5760,1.0700,100.0,95.1089,0.1230,1.5817,0.0118,...,NaN,0.5026,0.0121,0.0032,2.4064,0.0153,0.0048,0.0017,31.0176,1

In [40]:
json_records=list(json.loads(df.T.to_json()).values())

In [41]:
client[database_name][connection_name].insert_many(json_records)

In [35]:

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://abhy:abhy@cluster0.nvfhgmm.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!